@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --my-bg-1: 255 222 204;
  --my-bg-2: 255 238 228;
  /* --background-start-rgb: rgb(255, 187, 0); */
  --background-start-rgb: var(--my-bg-1);
  --background-end-rgb: var(--my-bg-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 51, 51;
    --background-start-rgb: var(--my-bg-1);
    --background-end-rgb: var(--my-bg-2);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.relative.flex.flex-col.text-gray-700.bg-white.shadow-md.bg-clip-border.rounded-xl {
    width: 400px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-screen, .min-h-screen, .max-h-sreen{
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);
}
