/* width */
.sidebar::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
.sidebar::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
 
/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
