@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --blue-color: 0, 0, 255;
  --red-color: 255, 0, 0;
  --orange-color: 255, 165, 0;
  --green-color: 0, 255, 0;
  --pink-color: 255, 192, 203;
  --foreground-dark-rgb: 255, 255, 255;
  --background-dark-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 20% 20%, rgba(var(--blue-color), 0.01) 0%, rgba(var(--red-color), 0) 100%),
              radial-gradient(circle at 80% 80%, rgba(var(--blue-color), 0.01) 0%, rgba(var(--orange-color), 0) 100%),
              radial-gradient(circle at 50% 50%, rgba(var(--blue-color), 0.01) 0%, rgba(var(--green-color), 0) 100%),
              radial-gradient(circle at 30% 70%, rgba(var(--blue-color), 0.01) 0%, rgba(var(--orange-color), 0) 100%),
              rgb(var(--background-start-rgb));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html.dark body {
  color: rgb(var(--foreground-dark-rgb));
  background: radial-gradient(circle at 20% 20%, rgba(var(--blue-color), 0.05) 0%, rgba(var(--red-color), 0.05) 100%),
              radial-gradient(circle at 80% 80%, rgba(var(--blue-color), 0.05) 0%, rgba(var(--orange-color), 0.05) 100%),
              radial-gradient(circle at 50% 50%, rgba(var(--blue-color), 0.05) 0%, rgba(var(--green-color), 0.05) 100%),
              radial-gradient(circle at 30% 70%, rgba(var(--blue-color), 0.05) 0%, rgba(var(--orange-color), 0.05) 100%),
              rgb(var(--background-dark-rgb));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.relative.flex.flex-col.text-gray-700.bg-white.shadow-md.bg-clip-border.rounded-xl {
  width: 400px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chat-home.h-screen, .mera.h-screen {
  height: calc(100vh - 72px);
}

.quill .ql-toolbar.ql-snow {
  border: none;
  background: #ef7e4320;
}

.quill .ql-container.ql-snow, .quill .ql-editor {
  min-height: 40vh;
  border: none;
  background: white;
}

button.rounded-lg {
  border-radius: 100px !important;
}

span.bg-orange-500.hover\:bg-orange-600.text-white.py-2.px-4.rounded-lg.shadow-sm.transition-colors.duration-300 {
  border-radius: 100px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  /* background: #f0f0f0; */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

/* Up button */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqUlEQVR4nO3RzwoBURiG8aco8ueOXAYbO3djJa7BBZCslJTkMmSuQmryaepdSOPkzHzK4jz11ixO51dnIJX69wbARSu+f9IYuAGm3YGJJ9AApi/A+xY6U6s2sAkgpq2BVlWkA+y+QEw7AL1YpAvsIxDTjkA/BjlXQEw76TWCFT91VQMxbQs0Q9DcATFt9gkZOSIGPIBhGZQ5QwZcy6AlkDsiue5MpVL49ASK06PUwUVsEwAAAABJRU5ErkJggg==') no-repeat center;
  background-size: 50%;
}

/* Down button */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAnklEQVR4nO3SQQpBQRzA4U+UkBs5ho2lm7iA5A7WKAspG3ENySmkhNQsxOt5GGUxX/1rFtP8mmZIkiSmEU64RJpTOPPJPmLkEmaXFWrjHDFyDmdmGkQM9fPeqYxxhMgMlVefoo7NF5E1agpqYPlBZIVm0cj9zRZvRObv3ORRFdMCkUnY+5USejmRYfhE0XRwuAsc0fUjLWzD3NZJ8seuXHqjq9Ta1lYAAAAASUVORK5CYII=') no-repeat center;
  background-size: 50%;
}


.dark ::-webkit-scrollbar-button:single-button:vertical:decrement, .dark ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-color: #909090;
}

::-webkit-scrollbar-button:single-button:vertical:decrement, ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-color: white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-color: #d0d0d0;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-color: #d0d0d0;
}


/* styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: #4F46E5; /* Tailwind color: indigo-700 */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Tailwind class would be h-1 */
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px; /* Customize width */
  height: 100%;
  box-shadow: 0 0 10px #4F46E5, 0 0 5px #4F46E5; /* Tailwind color: indigo-700 */
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

